/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
 background-color: #eef1ef; 
}

/* STYLE TEXT */

h1 {
  color: #090b0b;
  text-align: center;
  font-family: 'Inter', sans-serif;
  
}

p {
  color: #090b0b;
  padding: 25px;
  margin: 50px;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 18px;

}

/* STYLE IMAGES */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
padding: 25px;
}

/* STYLE NAV BAR */
ul {
  list-style-type: none;
  background: ##eef1ef;
  overflow: hidden;
  padding: 1em;
}

li {
  display: inline;
  margin-right: 2 em;
  margin-left: 2 em;
  
}

li a {
  text-decoration: none;
  color: #4b4b58;
  font-size: 14 px;
  padding: 1 em;
  font-family: "Lato", sans-serif;
   padding-right: 8px;
  padding-left: 8px;
 
}

li a:hover {
  background-color: white;
  
  
}

nav {
  text-align: center;
  margin: 20px;
  

/* STYLE BUTTONS */

/* ADD MORE! */
}

/*second header*/
h2 {
  color: #4b4b58;
  text-align: center;
  font-family: "Inter", sans-serif;
  margin: 50px;
}

/*embedded video*/
iframe {
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

/*fact checker*/
div {
  text-align: center;
  margin: 50px;
  border: 2px solid black;
}

/*works cited*/
#title {
  text-align: center;
  font-size: 12px;
}

#first {
  text-align: center;
  font-size: 12px;
}

#second {
  text-align: center;
  font-size: 12px;
}

#third {
  text-align: center;
  font-size: 12px;
}
